.label {
    margin-bottom: 8px;
    color: blue;
}

.button-add {
    margin-right: 70%;
}

.button-table {
    margin-right: 10px; /* Adjust this value as needed */
}

.clock-style {
    margin-left: 38%;
    margin-bottom: 15%;
}

.title {
    color: black;
    margin-right: 100%;
}